![Great_Learning_Logo.jpg]()

# **Prompt Engineering SQL Coder 2 for Text to Query Generation**

In [ ]:
# Installation for GPU llama-cpp-python
!CMAKE_ARGS="-DLLAMA_CUBLAS=on" FORCE_CMAKE=1 pip install llama-cpp-python --force-reinstall --upgrade --no-cache-dir --verbose

Using pip 23.1.2 from /usr/local/lib/python3.10/dist-packages/pip (python 3.10)
Collecting llama-cpp-python
  Downloading llama_cpp_python-0.2.56.tar.gz (36.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 36.9/36.9 MB 179.5 MB/s eta 0:00:00
  Running command pip subprocess to install build dependencies
  Using pip 23.1.2 from /usr/local/lib/python3.10/dist-packages/pip (python 3.10)
  Collecting scikit-build-core[pyproject]>=0.5.1
    Downloading scikit_build_core-0.8.2-py3-none-any.whl (140 kB)
       ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 140.5/140.5 kB 2.8 MB/s eta 0:00:00
  Collecting exceptiongroup (from scikit-build-core[pyproject]>=0.5.1)
    Downloading exceptiongroup-1.2.0-py3-none-any.whl (16 kB)
  Collecting packaging>=20.9 (from scikit-build-core[pyproject]>=0.5.1)
    Downloading packaging-24.0-py3-none-any.whl (53 kB)
       ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 53.5/53.5 kB 4.3 MB/s eta 0:00:00
  Collecting tomli>=1.1 (from scikit-build-core[pyproject]>=0.5.1)
    Downloading tomli-2.0.1-py3-none-any.whl (12 kB)
  Collecting pathspec>=0.10.1 (from scikit-build-core[pyproject]>=0.5.1)
    Downloading pathspec-0.12.1-py3-none-any.whl (31 kB)
  Collecting pyproject-metadata>=0.5 (from scikit-build-core[pyproject]>=0.5.1)
    Downloading pyproject_metadata-0.7.1-py3-none-any.whl (7.4 kB)
  Installing collected packages: tomli, pathspec, packaging, exceptiongroup, scikit-build-core, pyproject-metadata
  Successfully installed exceptiongroup-1.2.0 packaging-24.0 pathspec-0.12.1 pyproject-metadata-0.7.1 scikit-build-core-0.8.2 tomli-2.0.1
  Installing build dependencies ... done
  Running command Getting requirements to build wheel
  Getting requirements to build wheel ... done
  Running command pip subprocess to install backend dependencies
  Using pip 23.1.2 from /usr/local/lib/python3.10/dist-packages/pip (python 3.10)
  Collecting cmake>=3.21
    Downloading cmake-3.28.3-py2.py3-none-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (26.3 MB)
       ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 26.3/26.3 MB 46.0 MB/s eta 0:00:00
  Collecting ninja>=1.5
    Downloading ninja-1.11.1.1-py2.py3-none-manylinux1_x86_64.manylinux_2_5_x86_64.whl (307 kB)
       ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 307.2/307.2 kB 26.6 MB/s eta 0:00:00
  Installing collected packages: ninja, cmake
    Creating /tmp/pip-build-env-y_ckz8qb/normal/local/bin
    changing mode of /tmp/pip-build-env-y_ckz8qb/normal/local/bin/ninja to 755
    changing mode of /tmp/pip-build-env-y_ckz8qb/normal/local/bin/cmake to 755
    changing mode of /tmp/pip-build-env-y_ckz8qb/normal/local/bin/cpack to 755
    changing mode of /tmp/pip-build-env-y_ckz8qb/normal/local/bin/ctest to 755
  Successfully installed cmake-3.28.3 ninja-1.11.1.1
  Installing backend dependencies ... done
  Running command Preparing metadata (pyproject.toml)
  *** scikit-build-core 0.8.2 using CMake 3.28.3 (metadata_wheel)
  Preparing metadata (pyproject.toml) ... done
Collecting typing-extensions>=4.5.0 (from llama-cpp-python)
  Downloading typing_extensions-4.10.0-py3-none-any.whl (33 kB)
Collecting numpy>=1.20.0 (from llama-cpp-python)
  Downloading numpy-1.26.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (18.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 18.2/18.2 MB 292.1 MB/s eta 0:00:00
Collecting diskcache>=5.6.1 (from llama-cpp-python)
  Downloading diskcache-5.6.3-py3-none-any.whl (45 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.5/45.5 kB 238.3 MB/s eta 0:00:00
Collecting jinja2>=2.11.3 (from llama-cpp-python)
  Downloading Jinja2-3.1.3-py3-none-any.whl (133 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 133.2/133.2 kB 291.8 MB/s eta 0:00:00
Collecting MarkupSafe>=2.0 (from jinja2>=2.11.3->llama-cpp-python)
  Downloading MarkupSafe-2.1.5-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (25 kB)
Building wheels for collected packages: llama-cpp-python
  Running command Building wheel for llama-cpp-python (pyproject.toml)
  *** scikit-build-core 0.8.2 using CMake 3.28.3 (wheel)
  *** Configuring CMake...
  loading initial cache file /tmp/tmpdv_ttyg4/build/CMakeInit.txt
  -- The C compiler identification is GNU 11.4.0
  -- The CXX compiler identification is GNU 11.4.0
  -- Detecting C compiler ABI info
  -- Detecting C compiler ABI info - done
  -- Check for working C compiler: /usr/bin/cc - skipped
  -- Detecting C compile features
  -- Detecting C compile features - done
  -- Detecting CXX compiler ABI info
  -- Detecting CXX compiler ABI info - done
  -- Check for working CXX compiler: /usr/bin/c++ - skipped
  -- Detecting CXX compile features
  -- Detecting CXX compile features - done
  -- Found Git: /usr/bin/git (found version "2.34.1")
  -- Performing Test CMAKE_HAVE_LIBC_PTHREAD
  -- Performing Test CMAKE_HAVE_LIBC_PTHREAD - Success
  -- Found Threads: TRUE
  -- Found CUDAToolkit: /usr/local/cuda/targets/x86_64-linux/include (found version "12.2.140")
  -- cuBLAS found
  -- The CUDA compiler identification is NVIDIA 12.2.140
  -- Detecting CUDA compiler ABI info
  -- Detecting CUDA compiler ABI info - done
  -- Check for working CUDA compiler: /usr/local/cuda/bin/nvcc - skipped
  -- Detecting CUDA compile features
  -- Detecting CUDA compile features - done
  -- Using CUDA architectures: 52;61;70
  -- CUDA host compiler is GNU 11.4.0

  -- Warning: ccache not found - consider installing it for faster compilation or disable this warning with LLAMA_CCACHE=OFF
  -- CMAKE_SYSTEM_PROCESSOR: x86_64
  -- x86 detected
  CMake Warning (dev) at CMakeLists.txt:21 (install):
    Target llama has PUBLIC_HEADER files but no PUBLIC_HEADER DESTINATION.
  This warning is for project developers.  Use -Wno-dev to suppress it.

  CMake Warning (dev) at CMakeLists.txt:30 (install):
    Target llama has PUBLIC_HEADER files but no PUBLIC_HEADER DESTINATION.
  This warning is for project developers.  Use -Wno-dev to suppress it.

  -- Configuring done (4.1s)
  -- Generating done (0.0s)
  -- Build files have been written to: /tmp/tmpdv_ttyg4/build
  *** Building project with Ninja...
  Change Dir: '/tmp/tmpdv_ttyg4/build'

  Run Build Command(s): /tmp/pip-build-env-y_ckz8qb/normal/local/lib/python3.10/dist-packages/ninja/data/bin/ninja -v
  [1/23] /usr/bin/cc -DGGML_CUDA_DMMV_X=32 -DGGML_CUDA_MMV_Y=1 -DGGML_CUDA_PEER_MAX_BATCH_SIZE=128 -DGGML_USE_CUBLAS -DK_QUANTS_PER_ITERATION=2 -D_GNU_SOURCE -D_XOPEN_SOURCE=600 -I/tmp/pip-install-iytmv8cj/llama-cpp-python_cb340cb1c0df46b7b9bd807a97f5d0c7/vendor/llama.cpp/. -isystem /usr/local/cuda/targets/x86_64-linux/include -O3 -DNDEBUG -std=gnu11 -fPIC -Wshadow -Wstrict-prototypes -Wpointer-arith -Wmissing-prototypes -Werror=implicit-int -Werror=implicit-function-declaration -Wall -Wextra -Wpedantic -Wcast-qual -Wno-unused-function -Wdouble-promotion -march=native -MD -MT vendor/llama.cpp/CMakeFiles/ggml.dir/ggml-alloc.c.o -MF vendor/llama.cpp/CMakeFiles/ggml.dir/ggml-alloc.c.o.d -o vendor/llama.cpp/CMakeFiles/ggml.dir/ggml-alloc.c.o -c /tmp/pip-install-iytmv8cj/llama-cpp-python_cb340cb1c0df46b7b9bd807a97f5d0c7/vendor/llama.cpp/ggml-alloc.c
  [2/23] /usr/bin/cc -DGGML_CUDA_DMMV_X=32 -DGGML_CUDA_MMV_Y=1 -DGGML_CUDA_PEER_MAX_BATCH_SIZE=128 -DGGML_USE_CUBLAS -DK_QUANTS_PER_ITERATION=2 -D_GNU_SOURCE -D_XOPEN_SOURCE=600 -I/tmp/pip-install-iytmv8cj/llama-cpp-python_cb340cb1c0df46b7b9bd807a97f5d0c7/vendor/llama.cpp/. -isystem /usr/local/cuda/targets/x86_64-linux/include -O3 -DNDEBUG -std=gnu11 -fPIC -Wshadow -Wstrict-prototypes -Wpointer-arith -Wmissing-prototypes -Werror=implicit-int -Werror=implicit-function-declaration -Wall -Wextra -Wpedantic -Wcast-qual -Wno-unused-function -Wdouble-promotion -march=native -MD -MT vendor/llama.cpp/CMakeFiles/ggml.dir/ggml-backend.c.o -MF vendor/llama.cpp/CMakeFiles/ggml.dir/ggml-backend.c.o.d -o vendor/llama.cpp/CMakeFiles/ggml.dir/ggml-backend.c.o -c /tmp/pip-install-iytmv8cj/llama-cpp-python_cb340cb1c0df46b7b9bd807a97f5d0c7/vendor/llama.cpp/ggml-backend.c
  [3/23] /usr/bin/cc -DGGML_CUDA_DMMV_X=32 -DGGML_CUDA_MMV_Y=1 -DGGML_CUDA_PEER_MAX_BATCH_SIZE=128 -DGGML_USE_CUBLAS -DK_QUANTS_PER_ITERATION=2 -D_GNU_SOURCE -D_XOPEN_SOURCE=600 -I/tmp/pip-install-iytmv8cj/llama-cpp-python_cb340cb1c0df46b7b9bd807a97f5d0c7/vendor/llama.cpp/. -isystem /usr/local/cuda/targets/x86_64-linux/include -O3 -DNDEBUG -std=gnu11 -fPIC -Wshadow -Wstrict-prototypes -Wpointer-arith -Wmissing-prototypes -Werror=implicit-int -Werror=implicit-function-declaration -Wall -Wextra -Wpedantic -Wcast-qual -Wno-unused-function -Wdouble-promotion -march=native -MD -MT vendor/llama.cpp/CMakeFiles/ggml.dir/ggml-quants.c.o -MF vendor/llama.cpp/CMakeFiles/ggml.dir/ggml-quants.c.o.d -o vendor/llama.cpp/CMakeFiles/ggml.dir/ggml-quants.c.o -c /tmp/pip-install-iytmv8cj/llama-cpp-python_cb340cb1c0df46b7b9bd807a97f5d0c7/vendor/llama.cpp/ggml-quants.c
  [4/23] /usr/bin/cc -DGGML_CUDA_DMMV_X=32 -DGGML_CUDA_MMV_Y=1 -DGGML_CUDA_PEER_MAX_BATCH_SIZE=128 -DGGML_USE_CUBLAS -DK_QUANTS_PER_ITERATION=2 -D_GNU_SOURCE -D_XOPEN_SOURCE=600 -I/tmp/pip-install-iytmv8cj/llama-cpp-python_cb340cb1c0df46b7b9bd807a97f5d0c7/vendor/llama.cpp/. -isystem /usr/local/cuda/targets/x86_64-linux/include -O3 -DNDEBUG -std=gnu11 -fPIC -Wshadow -Wstrict-prototypes -Wpointer-arith -Wmissing-prototypes -Werror=implicit-int -Werror=implicit-function-declaration -Wall -Wextra -Wpedantic -Wcast-qual -Wno-unused-function -Wdouble-promotion -march=native -MD -MT vendor/llama.cpp/CMakeFiles/ggml.dir/ggml.c.o -MF vendor/llama.cpp/CMakeFiles/ggml.dir/ggml.c.o.d -o vendor/llama.cpp/CMakeFiles/ggml.dir/ggml.c.o -c /tmp/pip-install-iytmv8cj/llama-cpp-python_cb340cb1c0df46b7b9bd807a97f5d0c7/vendor/llama.cpp/ggml.c
  [5/23] cd /tmp/pip-install-iytmv8cj/llama-cpp-python_cb340cb1c0df46b7b9bd807a97f5d0c7/vendor/llama.cpp && /tmp/pip-build-env-y_ckz8qb/normal/local/lib/python3.10/dist-packages/cmake/data/bin/cmake -DMSVC= -DCMAKE_C_COMPILER_VERSION=11.4.0 -DCMAKE_C_COMPILER_ID=GNU -DCMAKE_VS_PLATFORM_NAME= -DCMAKE_C_COMPILER=/usr/bin/cc -P /tmp/pip-install-iytmv8cj/llama-cpp-python_cb340cb1c0df46b7b9bd807a97f5d0c7/vendor/llama.cpp/common/../scripts/gen-build-info-cpp.cmake
  -- Found Git: /usr/bin/git (found version "2.34.1")
  [6/23] /usr/bin/c++ -DGGML_CUDA_DMMV_X=32 -DGGML_CUDA_MMV_Y=1 -DGGML_CUDA_PEER_MAX_BATCH_SIZE=128 -DGGML_USE_CUBLAS -DK_QUANTS_PER_ITERATION=2 -D_GNU_SOURCE -D_XOPEN_SOURCE=600  -O3 -DNDEBUG -std=gnu++11 -fPIC -Wmissing-declarations -Wmissing-noreturn -Wall -Wextra -Wpedantic -Wcast-qual -Wno-unused-function -Wno-array-bounds -Wno-format-truncation -Wextra-semi -march=native -MD -MT vendor/llama.cpp/common/CMakeFiles/build_info.dir/build-info.cpp.o -MF vendor/llama.cpp/common/CMakeFiles/build_info.dir/build-info.cpp.o.d -o vendor/llama.cpp/common/CMakeFiles/build_info.dir/build-info.cpp.o -c /tmp/pip-install-iytmv8cj/llama-cpp-python_cb340cb1c0df46b7b9bd807a97f5d0c7/vendor/llama.cpp/common/build-info.cpp
  [7/23] /usr/bin/c++ -DGGML_CUDA_DMMV_X=32 -DGGML_CUDA_MMV_Y=1 -DGGML_CUDA_PEER_MAX_BATCH_SIZE=128 -DGGML_USE_CUBLAS -DK_QUANTS_PER_ITERATION=2 -D_GNU_SOURCE -D_XOPEN_SOURCE=600 -I/tmp/pip-install-iytmv8cj/llama-cpp-python_cb340cb1c0df46b7b9bd807a97f5d0c7/vendor/llama.cpp/common/. -I/tmp/pip-install-iytmv8cj/llama-cpp-python_cb340cb1c0df46b7b9bd807a97f5d0c7/vendor/llama.cpp/. -O3 -DNDEBUG -std=gnu++11 -fPIC -Wmissing-declarations -Wmissing-noreturn -Wall -Wextra -Wpedantic -Wcast-qual -Wno-unused-function -Wno-array-bounds -Wno-format-truncation -Wextra-semi -march=native -MD -MT vendor/llama.cpp/common/CMakeFiles/common.dir/common.cpp.o -MF vendor/llama.cpp/common/CMakeFiles/common.dir/common.cpp.o.d -o vendor/llama.cpp/common/CMakeFiles/common.dir/common.cpp.o -c /tmp/pip-install-iytmv8cj/llama-cpp-python_cb340cb1c0df46b7b9bd807a97f5d0c7/vendor/llama.cpp/common/common.cpp
  [8/23] /usr/bin/c++ -DGGML_CUDA_DMMV_X=32 -DGGML_CUDA_MMV_Y=1 -DGGML_CUDA_PEER_MAX_BATCH_SIZE=128 -DGGML_USE_CUBLAS -DK_QUANTS_PER_ITERATION=2 -D_GNU_SOURCE -D_XOPEN_SOURCE=600 -I/tmp/pip-install-iytmv8cj/llama-cpp-python_cb340cb1c0df46b7b9bd807a97f5d0c7/vendor/llama.cpp/common/. -I/tmp/pip-install-iytmv8cj/llama-cpp-python_cb340cb1c0df46b7b9bd807a97f5d0c7/vendor/llama.cpp/. -O3 -DNDEBUG -std=gnu++11 -fPIC -Wmissing-declarations -Wmissing-noreturn -Wall -Wextra -Wpedantic -Wcast-qual -Wno-unused-function -Wno-array-bounds -Wno-format-truncation -Wextra-semi -march=native -MD -MT vendor/llama.cpp/common/CMakeFiles/common.dir/sampling.cpp.o -MF vendor/llama.cpp/common/CMakeFiles/common.dir/sampling.cpp.o.d -o vendor/llama.cpp/common/CMakeFiles/common.dir/sampling.cpp.o -c /tmp/pip-install-iytmv8cj/llama-cpp-python_cb340cb1c0df46b7b9bd807a97f5d0c7/vendor/llama.cpp/common/sampling.cpp
  [9/23] /usr/bin/c++ -DGGML_CUDA_DMMV_X=32 -DGGML_CUDA_MMV_Y=1 -DGGML_CUDA_PEER_MAX_BATCH_SIZE=128 -DGGML_USE_CUBLAS -DK_QUANTS_PER_ITERATION=2 -D_GNU_SOURCE -D_XOPEN_SOURCE=600 -I/tmp/pip-install-iytmv8cj/llama-cpp-python_cb340cb1c0df46b7b9bd807a97f5d0c7/vendor/llama.cpp/common/. -I/tmp/pip-install-iytmv8cj/llama-cpp-python_cb340cb1c0df46b7b9bd807a97f5d0c7/vendor/llama.cpp/. -O3 -DNDEBUG -std=gnu++11 -fPIC -Wmissing-declarations -Wmissing-noreturn -Wall -Wextra -Wpedantic -Wcast-qual -Wno-unused-function -Wno-array-bounds -Wno-format-truncation -Wextra-semi -march=native -MD -MT vendor/llama.cpp/common/CMakeFiles/common.dir/console.cpp.o -MF vendor/llama.cpp/common/CMakeFiles/common.dir/console.cpp.o.d -o vendor/llama.cpp/common/CMakeFiles/common.dir/console.cpp.o -c /tmp/pip-install-iytmv8cj/llama-cpp-python_cb340cb1c0df46b7b9bd807a97f5d0c7/vendor/llama.cpp/common/console.cpp
  [10/23] /usr/bin/c++ -DGGML_CUDA_DMMV_X=32 -DGGML_CUDA_MMV_Y=1 -DGGML_CUDA_PEER_MAX_BATCH_SIZE=128 -DGGML_USE_CUBLAS -DK_QUANTS_PER_ITERATION=2 -D_GNU_SOURCE -D_XOPEN_SOURCE=600 -I/tmp/pip-install-iytmv8cj/llama-cpp-python_cb340cb1c0df46b7b9bd807a97f5d0c7/vendor/llama.cpp/common/. -I/tmp/pip-install-iytmv8cj/llama-cpp-python_cb340cb1c0df46b7b9bd807a97f5d0c7/vendor/llama.cpp/. -O3 -DNDEBUG -std=gnu++11 -fPIC -Wmissing-declarations -Wmissing-noreturn -Wall -Wextra -Wpedantic -Wcast-qual -Wno-unused-function -Wno-array-bounds -Wno-format-truncation -Wextra-semi -march=native -MD -MT vendor/llama.cpp/common/CMakeFiles/common.dir/grammar-parser.cpp.o -MF vendor/llama.cpp/common/CMakeFiles/common.dir/grammar-parser.cpp.o.d -o vendor/llama.cpp/common/CMakeFiles/common.dir/grammar-parser.cpp.o -c /tmp/pip-install-iytmv8cj/llama-cpp-python_cb340cb1c0df46b7b9bd807a97f5d0c7/vendor/llama.cpp/common/grammar-parser.cpp
  [11/23] /usr/bin/c++ -DGGML_CUDA_DMMV_X=32 -DGGML_CUDA_MMV_Y=1 -DGGML_CUDA_PEER_MAX_BATCH_SIZE=128 -DGGML_USE_CUBLAS -DK_QUANTS_PER_ITERATION=2 -D_GNU_SOURCE -D_XOPEN_SOURCE=600 -I/tmp/pip-install-iytmv8cj/llama-cpp-python_cb340cb1c0df46b7b9bd807a97f5d0c7/vendor/llama.cpp/common/. -I/tmp/pip-install-iytmv8cj/llama-cpp-python_cb340cb1c0df46b7b9bd807a97f5d0c7/vendor/llama.cpp/. -O3 -DNDEBUG -std=gnu++11 -fPIC -Wmissing-declarations -Wmissing-noreturn -Wall -Wextra -Wpedantic -Wcast-qual -Wno-unused-function -Wno-array-bounds -Wno-format-truncation -Wextra-semi -march=native -MD -MT vendor/llama.cpp/common/CMakeFiles/common.dir/train.cpp.o -MF vendor/llama.cpp/common/CMakeFiles/common.dir/train.cpp.o.d -o vendor/llama.cpp/common/CMakeFiles/common.dir/train.cpp.o -c /tmp/pip-install-iytmv8cj/llama-cpp-python_cb340cb1c0df46b7b9bd807a97f5d0c7/vendor/llama.cpp/common/train.cpp
  [12/23] /usr/bin/c++ -DGGML_USE_CUBLAS -DLLAMA_BUILD -DLLAMA_SHARED -I/tmp/pip-install-iytmv8cj/llama-cpp-python_cb340cb1c0df46b7b9bd807a97f5d0c7/vendor/llama.cpp/examples/llava/. -I/tmp/pip-install-iytmv8cj/llama-cpp-python_cb340cb1c0df46b7b9bd807a97f5d0c7/vendor/llama.cpp/examples/llava/../.. -I/tmp/pip-install-iytmv8cj/llama-cpp-python_cb340cb1c0df46b7b9bd807a97f5d0c7/vendor/llama.cpp/examples/llava/../../common -I/tmp/pip-install-iytmv8cj/llama-cpp-python_cb340cb1c0df46b7b9bd807a97f5d0c7/vendor/llama.cpp/. -isystem /usr/local/cuda/targets/x86_64-linux/include -O3 -DNDEBUG -fPIC -Wno-cast-qual -MD -MT vendor/llama.cpp/examples/llava/CMakeFiles/llava.dir/llava.cpp.o -MF vendor/llama.cpp/examples/llava/CMakeFiles/llava.dir/llava.cpp.o.d -o vendor/llama.cpp/examples/llava/CMakeFiles/llava.dir/llava.cpp.o -c /tmp/pip-install-iytmv8cj/llama-cpp-python_cb340cb1c0df46b7b9bd807a97f5d0c7/vendor/llama.cpp/examples/llava/llava.cpp
  [13/23] /usr/bin/c++ -DGGML_CUDA_DMMV_X=32 -DGGML_CUDA_MMV_Y=1 -DGGML_CUDA_PEER_MAX_BATCH_SIZE=128 -DGGML_USE_CUBLAS -DK_QUANTS_PER_ITERATION=2 -DLLAMA_BUILD -DLLAMA_SHARED -D_GNU_SOURCE -D_XOPEN_SOURCE=600 -Dllama_EXPORTS -I/tmp/pip-install-iytmv8cj/llama-cpp-python_cb340cb1c0df46b7b9bd807a97f5d0c7/vendor/llama.cpp/. -isystem /usr/local/cuda/targets/x86_64-linux/include -O3 -DNDEBUG -std=gnu++11 -fPIC -Wmissing-declarations -Wmissing-noreturn -Wall -Wextra -Wpedantic -Wcast-qual -Wno-unused-function -Wno-array-bounds -Wno-format-truncation -Wextra-semi -march=native -MD -MT vendor/llama.cpp/CMakeFiles/llama.dir/llama.cpp.o -MF vendor/llama.cpp/CMakeFiles/llama.dir/llama.cpp.o.d -o vendor/llama.cpp/CMakeFiles/llama.dir/llama.cpp.o -c /tmp/pip-install-iytmv8cj/llama-cpp-python_cb340cb1c0df46b7b9bd807a97f5d0c7/vendor/llama.cpp/llama.cpp
  [14/23] /usr/bin/c++ -DGGML_USE_CUBLAS -I/tmp/pip-install-iytmv8cj/llama-cpp-python_cb340cb1c0df46b7b9bd807a97f5d0c7/vendor/llama.cpp/common/. -I/tmp/pip-install-iytmv8cj/llama-cpp-python_cb340cb1c0df46b7b9bd807a97f5d0c7/vendor/llama.cpp/. -I/tmp/pip-install-iytmv8cj/llama-cpp-python_cb340cb1c0df46b7b9bd807a97f5d0c7/vendor/llama.cpp/examples/llava/. -I/tmp/pip-install-iytmv8cj/llama-cpp-python_cb340cb1c0df46b7b9bd807a97f5d0c7/vendor/llama.cpp/examples/llava/../.. -I/tmp/pip-install-iytmv8cj/llama-cpp-python_cb340cb1c0df46b7b9bd807a97f5d0c7/vendor/llama.cpp/examples/llava/../../common -O3 -DNDEBUG -MD -MT vendor/llama.cpp/examples/llava/CMakeFiles/llava-cli.dir/llava-cli.cpp.o -MF vendor/llama.cpp/examples/llava/CMakeFiles/llava-cli.dir/llava-cli.cpp.o.d -o vendor/llama.cpp/examples/llava/CMakeFiles/llava-cli.dir/llava-cli.cpp.o -c /tmp/pip-install-iytmv8cj/llama-cpp-python_cb340cb1c0df46b7b9bd807a97f5d0c7/vendor/llama.cpp/examples/llava/llava-cli.cpp
  [15/23] /usr/bin/c++ -DGGML_USE_CUBLAS -DLLAMA_BUILD -DLLAMA_SHARED -I/tmp/pip-install-iytmv8cj/llama-cpp-python_cb340cb1c0df46b7b9bd807a97f5d0c7/vendor/llama.cpp/examples/llava/. -I/tmp/pip-install-iytmv8cj/llama-cpp-python_cb340cb1c0df46b7b9bd807a97f5d0c7/vendor/llama.cpp/examples/llava/../.. -I/tmp/pip-install-iytmv8cj/llama-cpp-python_cb340cb1c0df46b7b9bd807a97f5d0c7/vendor/llama.cpp/examples/llava/../../common -I/tmp/pip-install-iytmv8cj/llama-cpp-python_cb340cb1c0df46b7b9bd807a97f5d0c7/vendor/llama.cpp/. -isystem /usr/local/cuda/targets/x86_64-linux/include -O3 -DNDEBUG -fPIC -Wno-cast-qual -MD -MT vendor/llama.cpp/examples/llava/CMakeFiles/llava.dir/clip.cpp.o -MF vendor/llama.cpp/examples/llava/CMakeFiles/llava.dir/clip.cpp.o.d -o vendor/llama.cpp/examples/llava/CMakeFiles/llava.dir/clip.cpp.o -c /tmp/pip-install-iytmv8cj/llama-cpp-python_cb340cb1c0df46b7b9bd807a97f5d0c7/vendor/llama.cpp/examples/llava/clip.cpp
  [16/23] : && /tmp/pip-build-env-y_ckz8qb/normal/local/lib/python3.10/dist-packages/cmake/data/bin/cmake -E rm -f vendor/llama.cpp/examples/llava/libllava_static.a && /usr/bin/ar qc vendor/llama.cpp/examples/llava/libllava_static.a  vendor/llama.cpp/examples/llava/CMakeFiles/llava.dir/llava.cpp.o vendor/llama.cpp/examples/llava/CMakeFiles/llava.dir/clip.cpp.o && /usr/bin/ranlib vendor/llama.cpp/examples/llava/libllava_static.a && :

## **Hugging Face Hub**

In [ ]:
# For downloading the models from HF Hub
!pip install huggingface_hub

Requirement already satisfied: huggingface_hub in /usr/local/lib/python3.10/dist-packages (0.20.3)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from huggingface_hub) (3.13.1)
Requirement already satisfied: fsspec>=2023.5.0 in /usr/local/lib/python3.10/dist-packages (from huggingface_hub) (2023.6.0)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from huggingface_hub) (2.31.0)
Requirement already satisfied: tqdm>=4.42.1 in /usr/local/lib/python3.10/dist-packages (from huggingface_hub) (4.66.2)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.10/dist-packages (from huggingface_hub) (6.0.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.10/dist-packages (from huggingface_hub) (4.10.0)
Requirement already satisfied: packaging>=20.9 in /usr/local/lib/python3.10/dist-packages (from huggingface_hub) (24.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->huggingface_hub) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->huggingface_hub) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->huggingface_hub) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->huggingface_hub) (2024.2.2)

## **Importing the SQL Coder 2 model**

In [ ]:
# Import the hf_hub_download function from the Hugging Face Hub library
from huggingface_hub import hf_hub_download

# Import the Llama class from the llama_cpp library
from llama_cpp import Llama

In [ ]:
sqlcoder2_model_name_or_path = "TheBloke/sqlcoder2-GGUF"
sqlcoder2_model_basename = "sqlcoder2.Q4_K_M.gguf" # the model is in gguf format
#  sqlcoder2.Q5_K_S.gguf

In [ ]:
sqlcoder2_model_path = hf_hub_download(
    repo_id=sqlcoder2_model_name_or_path,
    filename=sqlcoder2_model_basename
)

In [ ]:
sqlcoder2_llm = Llama(
    model_path=sqlcoder2_model_path,
    n_threads=2, # CPU cores
    n_batch=512, # Should be between 1 and n_ctx, consider the amount of VRAM in your GPU.
    n_gpu_layers=43, # Change this value based on your model and your GPU VRAM pool.
    n_ctx=4096, # Context window
)

llama_model_loader: loaded meta data with 19 key-value pairs and 485 tensors from /root/.cache/huggingface/hub/models--TheBloke--sqlcoder2-GGUF/snapshots/bb29b37e3365a1b181d64fd6b0a3a3db83000509/sqlcoder2.Q4_K_M.gguf (version GGUF V2)
llama_model_loader: Dumping metadata keys/values. Note: KV overrides do not apply in this output.
llama_model_loader: - kv   0:                       general.architecture str              = starcoder
llama_model_loader: - kv   1:                               general.name str              = StarCoder
llama_model_loader: - kv   2:                   starcoder.context_length u32              = 8192
llama_model_loader: - kv   3:                 starcoder.embedding_length u32              = 6144
llama_model_loader: - kv   4:              starcoder.feed_forward_length u32              = 24576
llama_model_loader: - kv   5:                      starcoder.block_count u32              = 40
llama_model_loader: - kv   6:             starcoder.attention.head_count u32              = 48
llama_model_loader: - kv   7:          starcoder.attention.head_count_kv u32              = 1
llama_model_loader: - kv   8:     starcoder.attention.layer_norm_epsilon f32              = 0.000010
llama_model_loader: - kv   9:                          general.file_type u32              = 15
llama_model_loader: - kv  10:                       tokenizer.ggml.model str              = gpt2
llama_model_loader: - kv  11:                      tokenizer.ggml.tokens arr[str,49152]   = ["<|endoftext|>", "<fim_prefix>", "<f...
llama_model_loader: - kv  12:                      tokenizer.ggml.scores arr[f32,49152]   = [0.000000, 0.000000, 0.000000, 0.0000...
llama_model_loader: - kv  13:                  tokenizer.ggml.token_type arr[i32,49152]   = [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
llama_model_loader: - kv  14:                      tokenizer.ggml.merges arr[str,48891]   = ["Ġ Ġ", "ĠĠ ĠĠ", "ĠĠĠĠ ĠĠ...
llama_model_loader: - kv  15:                tokenizer.ggml.bos_token_id u32              = 0
llama_model_loader: - kv  16:                tokenizer.ggml.eos_token_id u32              = 0
llama_model_loader: - kv  17:            tokenizer.ggml.unknown_token_id u32              = 0
llama_model_loader: - kv  18:               general.quantization_version u32              = 2
llama_model_loader: - type  f32:  322 tensors
llama_model_loader: - type q4_K:  102 tensors
llama_model_loader: - type q5_K:   40 tensors
llama_model_loader: - type q6_K:   21 tensors
llm_load_vocab: mismatch in special tokens definition ( 19/49152 vs 0/49152 ).
llm_load_print_meta: format           = GGUF V2
llm_load_print_meta: arch             = starcoder
llm_load_print_meta: vocab type       = BPE
llm_load_print_meta: n_vocab          = 49152
llm_load_print_meta: n_merges         = 48891
llm_load_print_meta: n_ctx_train      = 8192
llm_load_print_meta: n_embd           = 6144
llm_load_print_meta: n_head           = 48
llm_load_print_meta: n_head_kv        = 1
llm_load_print_meta: n_layer          = 40
llm_load_print_meta: n_rot            = 128
llm_load_print_meta: n_embd_head_k    = 128
llm_load_print_meta: n_embd_head_v    = 128
llm_load_print_meta: n_gqa            = 48
llm_load_print_meta: n_embd_k_gqa     = 128
llm_load_print_meta: n_embd_v_gqa     = 128
llm_load_print_meta: f_norm_eps       = 1.0e-05
llm_load_print_meta: f_norm_rms_eps   = 0.0e+00
llm_load_print_meta: f_clamp_kqv      = 0.0e+00
llm_load_print_meta: f_max_alibi_bias = 0.0e+00
llm_load_print_meta: n_ff             = 24576
llm_load_print_meta: n_expert         = 0
llm_load_print_meta: n_expert_used    = 0
llm_load_print_meta: pooling type     = 0
llm_load_print_meta: rope type        = 0
llm_load_print_meta: rope scaling     = linear
llm_load_print_meta: freq_base_train  = 10000.0
llm_load_print_meta: freq_scale_train = 1
llm_load_print_meta: n_yarn_orig_ctx  = 8192
llm_load_print_meta: rope_finetuned   = unknown
llm_load_print_meta: ssm_d_conv       = 0
llm_load_print_meta: ssm_d_inner      = 0
llm_load_print_meta: ssm_d_state      = 0
llm_load_print_meta: ssm_dt_rank      = 0
llm_load_print_meta: model type       = 15B
llm_load_print_meta: model ftype      = Q4_K - Medium
llm_load_print_meta: model params     = 15.82 B
llm_load_print_meta: model size       = 9.28 GiB (5.04 BPW)
llm_load_print_meta: general.name     = StarCoder
llm_load_print_meta: BOS token        = 0 '<|endoftext|>'
llm_load_print_meta: EOS token        = 0 '<|endoftext|>'
llm_load_print_meta: UNK token        = 0 '<|endoftext|>'
llm_load_print_meta: LF token         = 145 'Ä'
llm_load_tensors: ggml ctx size =    0.37 MiB
llm_load_tensors: offloading 40 repeating layers to GPU
llm_load_tensors: offloading non-repeating layers to GPU
llm_load_tensors: offloaded 41/41 layers to GPU
llm_load_tensors:        CPU buffer size =   189.00 MiB
llm_load_tensors:      CUDA0 buffer size =  9310.40 MiB
...............................................................................................
llama_new_context_with_model: n_ctx      = 4096
llama_new_context_with_model: freq_base  = 10000.0
llama_new_context_with_model: freq_scale = 1
llama_kv_cache_init:      CUDA0 KV buffer size =    80.00 MiB
llama_new_context_with_model: KV self size  =   80.00 MiB, K (f16):   40.00 MiB, V (f16):   40.00 MiB
llama_new_context_with_model:  CUDA_Host input buffer size   =    21.04 MiB
llama_new_context_with_model:      CUDA0 compute buffer size =   416.00 MiB
llama_new_context_with_model:  CUDA_Host compute buffer size =    24.00 MiB
llama_new_context_with_model: graph splits (measure): 2
AVX = 1 | AVX_VNNI = 0 | AVX2 = 1 | AVX512 = 1 | AVX512_VBMI = 0 | AVX512_VNNI = 0 | FMA = 1 | NEON = 0 | ARM_FMA = 0 | F16C = 1 | FP16_VA = 0 | WASM_SIMD = 0 | BLAS = 1 | SSE3 = 1 | SSSE3 = 1 | VSX = 0 | MATMUL_INT8 = 0 |
Model metadata: {'tokenizer.ggml.unknown_token_id': '0', 'general.name': 'StarCoder', 'starcoder.context_length': '8192', 'general.architecture': 'starcoder', 'starcoder.embedding_length': '6144', 'starcoder.feed_forward_length': '24576', 'starcoder.block_count': '40', 'tokenizer.ggml.bos_token_id': '0', 'starcoder.attention.head_count': '48', 'starcoder.attention.head_count_kv': '1', 'starcoder.attention.layer_norm_epsilon': '0.000010', 'general.file_type': '15', 'general.quantization_version': '2', 'tokenizer.ggml.model': 'gpt2', 'tokenizer.ggml.eos_token_id': '0'}
Using fallback chat format: None

In [ ]:
import pandas as pd
import sqlite3
from datetime import datetime, timedelta
import random

In [ ]:
# # TO DELETE TABLES IN DATABASE

# conn = sqlite3.connect('sample_database.db')
# cursor = conn.cursor()

# # Assuming tables are already created, we skip table creation for brevity

# # Clear existing data
# cursor.execute('DELETE FROM products')
# cursor.execute('DELETE FROM customers')
# cursor.execute('DELETE FROM salespeople')
# cursor.execute('DELETE FROM sales')
# cursor.execute('DELETE FROM product_suppliers')

In [ ]:
# Function to subtract months from a date
def subtract_months(dt, months):
    month = dt.month - 1 - months  # Months are 1-12 in datetime
    year = dt.year + month // 12
    month = month % 12 + 1
    day = min(dt.day, [31, 29 if year % 4 == 0 and not year % 400 == 0 else 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31][month - 1])
    return datetime(year, month, day)

In [ ]:
# Connect to the SQLite database
conn = sqlite3.connect('sample_database.db')
cursor = conn.cursor()

# Create tables as per the provided schema
cursor.execute('''
CREATE TABLE products (
  product_id INTEGER PRIMARY KEY,
  name VARCHAR(50),
  price DECIMAL(10,2),
  quantity INTEGER
);''')

cursor.execute('''
CREATE TABLE customers (
  customer_id INTEGER PRIMARY KEY,
  name VARCHAR(50),
  address VARCHAR(100)
);''')

cursor.execute('''
CREATE TABLE salespeople (
  salesperson_id INTEGER PRIMARY KEY,
  name VARCHAR(50),
  region VARCHAR(50)
);''')

cursor.execute('''
CREATE TABLE sales (
  sale_id INTEGER PRIMARY KEY,
  product_id INTEGER,
  customer_id INTEGER,
  salesperson_id INTEGER,
  sale_date DATE,
  quantity INTEGER
);''')

cursor.execute('''
CREATE TABLE product_suppliers (
  supplier_id INTEGER PRIMARY KEY,
  product_id INTEGER,
  supply_price DECIMAL(10,2)
);''')


# Helper function to generate random dates
def random_date(start, end):
    return (start + timedelta(
        seconds=random.randint(0, int((end - start).total_seconds())),
    )).date()

# Generate sample data
product_names = ['Laptop', 'Smartphone', 'Tablet', 'Monitor', 'Keyboard', 'Mouse', 'Webcam', 'Headset', 'Printer', 'Scanner']
customer_names = ['John Doe', 'Jane Smith', 'Alice Johnson', 'Bob Brown', 'Sally Green', 'Rick White', 'Charlie Black', 'Dana Grey', 'Evan Blue', 'Fiona Purple']
salesperson_names = ['Sam Red', 'Olivia Orange', 'Liam Yellow', 'Emma Green', 'Noah Blue', 'Ava Indigo', 'Isabella Violet', 'Sophia Silver', 'Mason Gold', 'Mia Bronze']
regions = ['North', 'South', 'East', 'West', 'Central']

# Define the date range for the last 6 months
current_date = datetime.now()
start_date = subtract_months(current_date, 6)  # Start date 6 months before today
end_date = current_date  # Today's date

products_data = [(i+1, f'{name} {i}', round(random.uniform(50, 1500), 2), random.randint(5, 100)) for i, name in enumerate(product_names*3)]
customers_data = [(i+1, f'{name} {i}', f'{random.randint(100, 999)} {random.choice(["Elm St.", "Maple Ave.", "Pine St.", "Oak Rd.", "Cedar Ln."])}') for i, name in enumerate(customer_names*3)]
salespeople_data = [(i+1, f'{name} {i}', random.choice(regions)) for i, name in enumerate(salesperson_names*3)]
sales_data = [(i+1, random.randint(1, 30), random.randint(1, 30), random.randint(1, 30), random_date(start_date, end_date).isoformat(), random.randint(1, 10)) for i in range(30)]
product_suppliers_data = [(i+1, random.randint(1, 30), round(random.uniform(30, 1400), 2)) for i in range(30)]

# Insert data into each table
cursor.executemany('INSERT INTO products VALUES (?,?,?,?)', products_data)
cursor.executemany('INSERT INTO customers VALUES (?,?,?)', customers_data)
cursor.executemany('INSERT INTO salespeople VALUES (?,?,?)', salespeople_data)
cursor.executemany('INSERT INTO sales VALUES (?,?,?,?,?,?)', sales_data)
cursor.executemany('INSERT INTO product_suppliers VALUES (?,?,?)', product_suppliers_data)

conn.commit()  # Commit the transaction

# Close the database connection
conn.close()

In [ ]:
# Connect to the SQLite database
conn = sqlite3.connect('sample_database.db')
cursor = conn.cursor()

# Define a list of table names
tables = ['products', 'customers', 'salespeople', 'sales', 'product_suppliers']

# Fetch and print the first few rows from each table
for table in tables:
    print(f"Data from {table}:")
    cursor.execute(f'SELECT * FROM {table} LIMIT 5')  # Adjust the limit as needed
    # Fetch all rows from the cursor
    rows = cursor.fetchall()
    # Print rows
    for row in rows:
        print(row)
    print()  # Add a newline for better readability between tables

# Close the database connection
conn.close()

Data from products:
(1, 'Laptop 0', 1200.02, 71)
(2, 'Smartphone 1', 575.86, 73)
(3, 'Tablet 2', 1198.15, 74)
(4, 'Monitor 3', 1452.56, 63)
(5, 'Keyboard 4', 161.84, 60)

Data from customers:
(1, 'John Doe 0', '491 Maple Ave.')
(2, 'Jane Smith 1', '916 Cedar Ln.')
(3, 'Alice Johnson 2', '493 Elm St.')
(4, 'Bob Brown 3', '572 Pine St.')
(5, 'Sally Green 4', '394 Cedar Ln.')

Data from salespeople:
(1, 'Sam Red 0', 'Central')
(2, 'Olivia Orange 1', 'North')
(3, 'Liam Yellow 2', 'North')
(4, 'Emma Green 3', 'South')
(5, 'Noah Blue 4', 'East')

Data from sales:
(1, 13, 15, 2, '2023-12-27', 8)
(2, 13, 25, 17, '2023-10-06', 10)
(3, 22, 18, 10, '2023-11-18', 10)
(4, 11, 27, 1, '2024-02-26', 5)
(5, 18, 22, 3, '2023-11-12', 3)

Data from product_suppliers:
(1, 15, 542.75)
(2, 29, 512.47)
(3, 7, 924.34)
(4, 4, 1012.15)
(5, 15, 1020.8)

In [ ]:
prompt  = """### Task
Generate a SQLite query to answer [QUESTION]{question}[/QUESTION]

### Instructions
- If you cannot answer the question with the available database schema, return 'I do not know'
- Remember that revenue is price multiplied by quantity
- Remember that cost is supply_price multiplied by quantity

### Database Schema
This query will run on a database whose schema is represented in this string:
CREATE TABLE products (
  product_id INTEGER PRIMARY KEY, -- Unique ID for each product
  name VARCHAR(50), -- Name of the product
  price DECIMAL(10,2), -- Price of each unit of the product
  quantity INTEGER  -- Current quantity in stock
);

CREATE TABLE customers (
   customer_id INTEGER PRIMARY KEY, -- Unique ID for each customer
   name VARCHAR(50), -- Name of the customer
   address VARCHAR(100) -- Mailing address of the customer
);

CREATE TABLE salespeople (
  salesperson_id INTEGER PRIMARY KEY, -- Unique ID for each salesperson
  name VARCHAR(50), -- Name of the salesperson
  region VARCHAR(50) -- Geographic sales region
);

CREATE TABLE sales (
  sale_id INTEGER PRIMARY KEY, -- Unique ID for each sale
  product_id INTEGER, -- ID of product sold
  customer_id INTEGER,  -- ID of customer who made purchase
  salesperson_id INTEGER, -- ID of salesperson who made the sale
  sale_date DATE, -- Date the sale occurred
  quantity INTEGER -- Quantity of product sold
);

CREATE TABLE product_suppliers (
  supplier_id INTEGER PRIMARY KEY, -- Unique ID for each supplier
  product_id INTEGER, -- Product ID supplied
  supply_price DECIMAL(10,2) -- Unit price charged by supplier
);

-- sales.product_id can be joined with products.product_id
-- sales.customer_id can be joined with customers.customer_id
-- sales.salesperson_id can be joined with salespeople.salesperson_id
-- product_suppliers.product_id can be joined with products.product_id

### Answer
Given the database schema, here is the SQL query that answers [QUESTION]{question}[/QUESTION]
[SQL]
"""

In [ ]:
def generate_query_response(updated_prompt):

  try:

      # Use the model (lcpp_llm) to generate a response based on the few-shot prompt
      response = sqlcoder2_llm(
          prompt=updated_prompt,
          max_tokens=500,
          temperature=0,
          top_p=0.95,
          repeat_penalty=1.2,
          top_k=50,
          stop=['INST'], # Dynamic stopping when such token is detected.
          echo=False # do not return the prompt
      )
      # Extract the model's prediction from the response

      prediction = response["choices"][0]["text"]

      return prediction

  except ValueError as e:
        # Handle any ValueErrors that may occur during the process and continue with the next row

      print(e)

**Question 1**

In [ ]:
question = "What was our revenue by product in the North region last month?"

In [ ]:
updated_prompt = prompt.format(question=question)

In [ ]:
result_1 = generate_query_response(updated_prompt)

llama_print_timings:        load time =    1260.39 ms
llama_print_timings:      sample time =     104.60 ms /   113 runs   (    0.93 ms per token,  1080.26 tokens per second)
llama_print_timings: prompt eval time =    1441.89 ms /   519 tokens (    2.78 ms per token,   359.94 tokens per second)
llama_print_timings:        eval time =    7247.26 ms /   112 runs   (   64.71 ms per token,    15.45 tokens per second)
llama_print_timings:       total time =    9363.73 ms /   631 tokens

In [ ]:
print(result_1)

SELECT products.name AS Product_Name, SUM(sales.quantity::DECIMAL * sales.sale_date::DECIMAL) AS total_revenue FROM sales JOIN salespeople ON sales.salesperson_id = salespeople.salesperson_id JOIN customers ON sales.customer_id = customers.customer_id JOIN products ON sales.product_id = products.product_id WHERE salespeople.region = 'North' AND sales.sale_date >= (CURRENT_DATE - interval '1 month') GROUP BY products.name;

In [ ]:
result_1

"SELECT products.name AS Product_Name, SUM(sales.quantity::DECIMAL * sales.sale_date::DECIMAL) AS total_revenue FROM sales JOIN salespeople ON sales.salesperson_id = salespeople.salesperson_id JOIN customers ON sales.customer_id = customers.customer_id JOIN products ON sales.product_id = products.product_id WHERE salespeople.region = 'North' AND sales.sale_date >= (CURRENT_DATE - interval '1 month') GROUP BY products.name;"

**Question 2**

In [ ]:
question = "What is the sales conversion rate of each salesperson region wise assuming no entry is null?"

In [ ]:
updated_prompt = prompt.format(question=question)

In [ ]:
result_2 = generate_query_response(updated_prompt)

Llama.generate: prefix-match hit

llama_print_timings:        load time =    1258.54 ms
llama_print_timings:      sample time =      83.67 ms /    95 runs   (    0.88 ms per token,  1135.47 tokens per second)
llama_print_timings: prompt eval time =    1321.86 ms /   511 tokens (    2.59 ms per token,   386.58 tokens per second)
llama_print_timings:        eval time =    6924.93 ms /    94 runs   (   73.67 ms per token,    13.57 tokens per second)
llama_print_timings:       total time =    8705.93 ms /   605 tokens

In [ ]:
print(result_2)

SELECT salespeople.region AS salesperson_region, SUM(sales.quantity::FLOAT / NULLIF(product_suppliers.supply_price::FLOAT, 0)) AS sales_to_supply_ratio FROM sales JOIN product_suppliers ON sales.product_id = product_suppliers.product_id JOIN salespeople ON sales.salesperson_id = salespeople.salesperson_id GROUP BY salespeople.region;

In [ ]:
result_2

'SELECT salespeople.region AS salesperson_region, SUM(sales.quantity::FLOAT / NULLIF(product_suppliers.supply_price::FLOAT, 0)) AS sales_to_supply_ratio FROM sales JOIN product_suppliers ON sales.product_id = product_suppliers.product_id JOIN salespeople ON sales.salesperson_id = salespeople.salesperson_id GROUP BY salespeople.region;'

Clear GPU RAM

In [ ]:
import torch
del sqlcoder2_llm
torch.cuda.empty_cache()

### **Postgresql to Sqlite Conversion**

In [ ]:
llama_model_name_or_path = "TheBloke/CodeLlama-13B-Instruct-GGUF"
llama_model_basename = "codellama-13b-instruct.Q5_K_M.gguf" # the model is in gguf format
#  sqlcoder2.Q5_K_S.gguf

In [ ]:
llama_model_path = hf_hub_download(
    repo_id=llama_model_name_or_path,
    filename=llama_model_basename
)

In [ ]:
llama_llm = Llama(
    model_path=llama_model_path,
    n_threads=2, # CPU cores
    n_batch=512, # Should be between 1 and n_ctx, consider the amount of VRAM in your GPU.
    n_gpu_layers=43, # Change this value based on your model and your GPU VRAM pool.
    n_ctx=4096, # Context window
)

llama_model_loader: loaded meta data with 20 key-value pairs and 363 tensors from /root/.cache/huggingface/hub/models--TheBloke--CodeLlama-13B-Instruct-GGUF/snapshots/82f1dd9567b9b20b7e8f8aa9ecf3d2f121e5d415/codellama-13b-instruct.Q5_K_M.gguf (version GGUF V2)
llama_model_loader: Dumping metadata keys/values. Note: KV overrides do not apply in this output.
llama_model_loader: - kv   0:                       general.architecture str              = llama
llama_model_loader: - kv   1:                               general.name str              = codellama_codellama-13b-instruct-hf
llama_model_loader: - kv   2:                       llama.context_length u32              = 16384
llama_model_loader: - kv   3:                     llama.embedding_length u32              = 5120
llama_model_loader: - kv   4:                          llama.block_count u32              = 40
llama_model_loader: - kv   5:                  llama.feed_forward_length u32              = 13824
llama_model_loader: - kv   6:                 llama.rope.dimension_count u32              = 128
llama_model_loader: - kv   7:                 llama.attention.head_count u32              = 40
llama_model_loader: - kv   8:              llama.attention.head_count_kv u32              = 40
llama_model_loader: - kv   9:     llama.attention.layer_norm_rms_epsilon f32              = 0.000010
llama_model_loader: - kv  10:                       llama.rope.freq_base f32              = 1000000.000000
llama_model_loader: - kv  11:                          general.file_type u32              = 17
llama_model_loader: - kv  12:                       tokenizer.ggml.model str              = llama
llama_model_loader: - kv  13:                      tokenizer.ggml.tokens arr[str,32016]   = ["<unk>", "<s>", "</s>", "<0x00>", "<...
llama_model_loader: - kv  14:                      tokenizer.ggml.scores arr[f32,32016]   = [0.000000, 0.000000, 0.000000, 0.0000...
llama_model_loader: - kv  15:                  tokenizer.ggml.token_type arr[i32,32016]   = [2, 3, 3, 6, 6, 6, 6, 6, 6, 6, 6, 6, ...
llama_model_loader: - kv  16:                tokenizer.ggml.bos_token_id u32              = 1
llama_model_loader: - kv  17:                tokenizer.ggml.eos_token_id u32              = 2
llama_model_loader: - kv  18:            tokenizer.ggml.unknown_token_id u32              = 0
llama_model_loader: - kv  19:               general.quantization_version u32              = 2
llama_model_loader: - type  f32:   81 tensors
llama_model_loader: - type q5_K:  241 tensors
llama_model_loader: - type q6_K:   41 tensors
llm_load_vocab: mismatch in special tokens definition ( 264/32016 vs 259/32016 ).
llm_load_print_meta: format           = GGUF V2
llm_load_print_meta: arch             = llama
llm_load_print_meta: vocab type       = SPM
llm_load_print_meta: n_vocab          = 32016
llm_load_print_meta: n_merges         = 0
llm_load_print_meta: n_ctx_train      = 16384
llm_load_print_meta: n_embd           = 5120
llm_load_print_meta: n_head           = 40
llm_load_print_meta: n_head_kv        = 40
llm_load_print_meta: n_layer          = 40
llm_load_print_meta: n_rot            = 128
llm_load_print_meta: n_embd_head_k    = 128
llm_load_print_meta: n_embd_head_v    = 128
llm_load_print_meta: n_gqa            = 1
llm_load_print_meta: n_embd_k_gqa     = 5120
llm_load_print_meta: n_embd_v_gqa     = 5120
llm_load_print_meta: f_norm_eps       = 0.0e+00
llm_load_print_meta: f_norm_rms_eps   = 1.0e-05
llm_load_print_meta: f_clamp_kqv      = 0.0e+00
llm_load_print_meta: f_max_alibi_bias = 0.0e+00
llm_load_print_meta: n_ff             = 13824
llm_load_print_meta: n_expert         = 0
llm_load_print_meta: n_expert_used    = 0
llm_load_print_meta: pooling type     = 0
llm_load_print_meta: rope type        = 0
llm_load_print_meta: rope scaling     = linear
llm_load_print_meta: freq_base_train  = 1000000.0
llm_load_print_meta: freq_scale_train = 1
llm_load_print_meta: n_yarn_orig_ctx  = 16384
llm_load_print_meta: rope_finetuned   = unknown
llm_load_print_meta: ssm_d_conv       = 0
llm_load_print_meta: ssm_d_inner      = 0
llm_load_print_meta: ssm_d_state      = 0
llm_load_print_meta: ssm_dt_rank      = 0
llm_load_print_meta: model type       = 13B
llm_load_print_meta: model ftype      = Q5_K - Medium
llm_load_print_meta: model params     = 13.02 B
llm_load_print_meta: model size       = 8.60 GiB (5.67 BPW)
llm_load_print_meta: general.name     = codellama_codellama-13b-instruct-hf
llm_load_print_meta: BOS token        = 1 '<s>'
llm_load_print_meta: EOS token        = 2 '</s>'
llm_load_print_meta: UNK token        = 0 '<unk>'
llm_load_print_meta: LF token         = 13 '<0x0A>'
llm_load_tensors: ggml ctx size =    0.28 MiB
llm_load_tensors: offloading 40 repeating layers to GPU
llm_load_tensors: offloading non-repeating layers to GPU
llm_load_tensors: offloaded 41/41 layers to GPU
llm_load_tensors:        CPU buffer size =   107.48 MiB
llm_load_tensors:      CUDA0 buffer size =  8694.27 MiB
....................................................................................................
llama_new_context_with_model: n_ctx      = 4096
llama_new_context_with_model: freq_base  = 1000000.0
llama_new_context_with_model: freq_scale = 1
llama_kv_cache_init:      CUDA0 KV buffer size =  3200.00 MiB
llama_new_context_with_model: KV self size  = 3200.00 MiB, K (f16): 1600.00 MiB, V (f16): 1600.00 MiB
llama_new_context_with_model:  CUDA_Host input buffer size   =    19.04 MiB
llama_new_context_with_model:      CUDA0 compute buffer size =   368.00 MiB
llama_new_context_with_model:  CUDA_Host compute buffer size =    10.00 MiB
llama_new_context_with_model: graph splits (measure): 2
AVX = 1 | AVX_VNNI = 0 | AVX2 = 1 | AVX512 = 1 | AVX512_VBMI = 0 | AVX512_VNNI = 0 | FMA = 1 | NEON = 0 | ARM_FMA = 0 | F16C = 1 | FP16_VA = 0 | WASM_SIMD = 0 | BLAS = 1 | SSE3 = 1 | SSSE3 = 1 | VSX = 0 | MATMUL_INT8 = 0 |
Model metadata: {'tokenizer.ggml.unknown_token_id': '0', 'tokenizer.ggml.eos_token_id': '2', 'general.architecture': 'llama', 'llama.rope.freq_base': '1000000.000000', 'llama.context_length': '16384', 'general.name': 'codellama_codellama-13b-instruct-hf', 'llama.embedding_length': '5120', 'llama.feed_forward_length': '13824', 'llama.attention.layer_norm_rms_epsilon': '0.000010', 'llama.rope.dimension_count': '128', 'tokenizer.ggml.bos_token_id': '1', 'llama.attention.head_count': '40', 'llama.block_count': '40', 'llama.attention.head_count_kv': '40', 'general.quantization_version': '2', 'tokenizer.ggml.model': 'llama', 'general.file_type': '17'}
Using fallback chat format: None

In [ ]:
def convert_to_sqlite(query):

  try:
      system_message = """
    Act as sql generator and follow below instructions
    - You will be given postgresql query.
    - You need to convert it to sqlite3 query and give output.
    - Output Only the sqlite query .
    - Take time but give accurate results.

    Important :
    - COMPULSORY TO GIVE ONLY QUERY IN OUTPUT . DO not add any text like : Here is your converted SQLite query: , before or after , only query .
    - Verify your answer if the query is converted properly to sqlite and no text except for query should be before and after . if these condition not satisfied , regenrate to meet these conditions .

    """

      # Combine user_prompt and system_message to create the prompt
      prompt = f"[INST]<<SYS>>{system_message}\n{query}<</SYS>>[/INST]"

      # Use the model (lcpp_llm) to generate a response based on the few-shot prompt
      response = llama_llm(
          prompt=prompt,
          max_tokens=500,
          temperature=0,
          top_p=0.95,
          repeat_penalty=1.2,
          top_k=50,
          stop=['INST'], # Dynamic stopping when such token is detected.
          echo=False # do not return the prompt
      )
      # Extract the model's prediction from the response

      prediction = response["choices"][0]["text"]

      return prediction

  except ValueError as e:
        # Handle any ValueErrors that may occur during the process and continue with the next row

      print(e)

In [ ]:
def sql_query_to_pd(sql_query_string: str, db_name: str ='default.db') -> pd.DataFrame:
    '''Execute an SQL query and return the results as a pandas dataframe

    Args:
        sql_query_string (str): SQL query string to execute
        db_name (str, optional): Name of the SQLITE Database to execute the query in.
                                 Defaults to 'default.db'.

    Returns:
        pd.DataFrame: Results of the SQL query in a pandas dataframe
    '''
    # Step 1: Connect to the SQL DB
    con = sqlite3.connect(db_name)

    # Step 2: Execute the SQL query
    cursor = con.execute(sql_query_string)

    # Step 3: Fetch the data and column names
    result_data = cursor.fetchall()
    cols = [description[0] for description in cursor.description]

    # Step 4: Close the connection
    con.close()

    # Step 5: Return as a dataframe
    return pd.DataFrame(result_data, columns=cols)

In [ ]:
result_1

"SELECT products.name AS Product_Name, SUM(sales.quantity::DECIMAL * sales.sale_date::DECIMAL) AS total_revenue FROM sales JOIN salespeople ON sales.salesperson_id = salespeople.salesperson_id JOIN customers ON sales.customer_id = customers.customer_id JOIN products ON sales.product_id = products.product_id WHERE salespeople.region = 'North' AND sales.sale_date >= (CURRENT_DATE - interval '1 month') GROUP BY products.name;"

In [ ]:
sqlite_query_1 = convert_to_sqlite(result_1)

llama_print_timings:        load time =     848.94 ms
llama_print_timings:      sample time =      59.79 ms /   111 runs   (    0.54 ms per token,  1856.37 tokens per second)
llama_print_timings: prompt eval time =     848.33 ms /   288 tokens (    2.95 ms per token,   339.49 tokens per second)
llama_print_timings:        eval time =    7330.72 ms /   110 runs   (   66.64 ms per token,    15.01 tokens per second)
llama_print_timings:       total time =    8553.87 ms /   398 tokens

In [ ]:
sqlite_query_1

"  SELECT products.name AS Product_Name, SUM(sales.quantity * sales.sale_date) AS total_revenue FROM sales JOIN salespeople ON sales.salesperson_id = salespeople.salesperson_id JOIN customers ON sales.customer_id = customers.customer_id JOIN products ON sales.product_id = products.product_id WHERE salespeople.region = 'North' AND sales.sale_date >= (DATE() - 1) GROUP BY products.name;"

In [ ]:
sql_query_to_pd(sqlite_query_1,'sample_database.db')

  Product_Name  total_revenue
0   Headset 17           6069
1   Printer 28           8092
2   Scanner 19          12144
3    Tablet 12          36414

In [ ]:
result_2

'SELECT salespeople.region AS salesperson_region, SUM(sales.quantity::FLOAT / NULLIF(product_suppliers.supply_price::FLOAT, 0)) AS sales_to_supply_ratio FROM sales JOIN product_suppliers ON sales.product_id = product_suppliers.product_id JOIN salespeople ON sales.salesperson_id = salespeople.salesperson_id GROUP BY salespeople.region;'

In [ ]:
sqlite_query_2 = convert_to_sqlite(result_2)

Llama.generate: prefix-match hit

llama_print_timings:        load time =     848.94 ms
llama_print_timings:      sample time =      52.53 ms /    95 runs   (    0.55 ms per token,  1808.59 tokens per second)
llama_print_timings: prompt eval time =     480.88 ms /   109 tokens (    4.41 ms per token,   226.67 tokens per second)
llama_print_timings:        eval time =    6201.57 ms /    94 runs   (   65.97 ms per token,    15.16 tokens per second)
llama_print_timings:       total time =    7044.66 ms /   203 tokens

In [ ]:
sqlite_query_2

'  SELECT salespeople.region AS salesperson_region, SUM(sales.quantity / NULLIF(product_suppliers.supply_price, 0)) AS sales_to_supply_ratio FROM sales JOIN product_suppliers ON sales.product_id = product_suppliers.product_id JOIN salespeople ON sales.salesperson_id = salespeople.salesperson_id GROUP BY salespeople.region;'

In [ ]:
sql_query_to_pd(sqlite_query_2,'sample_database.db')

  salesperson_region  sales_to_supply_ratio
0            Central               0.028508
1               East               0.073539
2              North               0.051449
3              South               0.040571
4               West               0.070634

In [ ]:
import torch
del llama_llm
torch.cuda.empty_cache()